<div class="row">
        <!-- Top Header bar-->
        <div class="col">
          <nav class="nabar">

              <img src="/images/logo.png" alt="" width="100" height="100" class="float-left">

              <h1 class="align-middle"> Taco Saco</h1>
            
          </nav>
        </div>
</div>