<div class="row">
        <!-- Top Header bar-->
        <div class="col">
          <nav class="nabar">

              <img src="/images/logo.png" alt="" width="150" height="150" class="float-left">

              <h1 class="pt-4"> Taco Saco</h1>
            
          </nav>
        </div>
</div>